*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.first{
    background: url(images/step.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 115vh;
    padding-bottom: 25%;
    padding-top: 20%;
    
}

.logo2{
    text-align: center;
    padding-top: 15%;
}
.about{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    
}
.services{
    background: url(./images/key.jpg) ;
    
    background-size: cover;
    text-align: center;
    background-repeat:no-repeat;
    padding-top: 8%;
    padding-bottom: 8%;
    background-position: center;
    color: white;
    
    
}
.design{
    /* padding-top: 5%;
     */
    text-align: center;
}

.contact{
    background-image: url(./images/f1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 50vh;
    background-position: center;
}
.icons{
    
    text-align: center;
    display: flex;
}


.portfolio{
text-align: center;

}

.studio{
    display: none;

}
.social{
display: flex;
text-align: center;
justify-content: center;
}
.footer{
    text-align: center;
}

.studio{
    display: none;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid white;
    height: 90%;
    width: 85%;
    text-align: left;
    color: white;
    position: absolute;
}

.blacken:before{
    content: "";
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
    height: 100%;
    width: 90%;
    display: block;
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.studio1,.studio2,.studio3,.studio4,.studio5,.studio6,.studio7,.studio8{
    position: relative;
}

.info{
    margin: 0% 20%;
}
.prd3, .prd2, .prd1{
    display: none;
}
