*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.first{
    background: url(images/step.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 100%;
    text-align: center;
    color: white;
    height: 115vh;
}
.about{
    text-align: center;
}
.services{
    background: url(./images/key.jpg) ;
    
    background-size: cover;
    text-align: center;
    background-repeat:no-repeat;
    
    
    
}
.design{
    
    text-align: center;
}

.contact{
    background-image: url(./images/f1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.icons{
    
    text-align: center;
    display: flex;
}


.portfolio{
    text-align: center;
}
.social{
    display: flex;
    justify-content: center;
    
}
.footer{
    text-align: center;
}

.col-md-3{
    
    padding: 6px;
}