
.first{
    background: url(images/step.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 100%;
    text-align: center;
    color: white;
}
.about{
    text-align: center;
}
.services{
    background: url(./images/key.jpg) ;
    
    background-size: cover;
    text-align: center;
    background-repeat:no-repeat;
    
    
    
}
.design{
    
    text-align: center;
}

.contact{
    background-image: url(./images/f1.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
.icons{
    /* display: flex; */
    /* flex-direction: row; */
    text-align: center;
}
.icons .footer{
    flex-direction: column;
}